streamlit==1.49.1
autogen-core==0.6.0
langchain==0.3.7
langchain-community==0.3.7
langchain-huggingface==0.1.1
faiss-cpu==1.12.0
sentence-transformers==2.6.1
fpdf2==2.8.4
requests==2.32.4
python-dotenv==1.0.1
huggingface-hub==0.23.4
transformers==4.44.2
torch==2.8.0
# OpenAI client (pour Autogen)
openai>=0.27.0

# Utilitaires pour logs et interface
rich>=14.1.0
markdown-it-py>=4.0.0
mdurl~=0.1
pygments>=2.13.0
